html {
    font-family: Courier New, Courier, monospace;
}

#holder {
    background-color: grey;
    width: 500px;
    height: 600px;
    border: 1px solid black;
    display: auto;
}

header {
    font-size: 24px;
}